.form__field {
  width: auto;
  margin: 2px 0 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(32, 48, 74, 1);
  border: none;
  padding: 0;
}

.form__field::placeholder {
  color: rgba(138, 153, 181, 1);
  font-size: 14px;
  line-height: 18px;
}