.menu__language {
  list-style: none;
  z-index: 2;
  /*
  position: relative;
  */
  pointer-events: auto

}

.menu__language:hover .menu__subitems {
  display: flex;
  padding-top: 40px;
}

.menu__item:hover {
  cursor: pointer;
}